.carousel .carousel-inner {
  width: 100%;
  height: 100%;
}
.carousel img {
  width: 100%;
  height: 70%;
}

.carousel-caption {
  backdrop-filter: invert(70%);
  filter: blur(10px);
  filter: brightness(50%);
  filter: drop-shadow(20px 20px 20px #000) sepia(20%);
}

.carousel h1 {
  font-weight: bold;
}
.carousel p {
  font-weight: bold;
}
.carousel button {
  font-weight: bold;
}

@media screen and (min-width: 750px) {
  .carousel {
    margin-top: 10px;
  }
  .carousel .carousel-inner {
    width: 100%;
    height: 10%;
  }
  .carousel .carousel-inner img {
    display: block;
    width: 50vw;
    height: 80vh;
    margin: auto;
  }
  .carousel .carousel-inner .carousel-caption {
    display: flex;
    margin: right;
  }
  .carousel h1 {
    font-weight: bold;
    font-size: 60px;
  }
  .carousel p {
    font-weight: bold;
    font-size: 40px;
  }
  .carousel button {
    font-weight: bold;
    font-size: 30px;
  }
}
