<div class="container">
  <div class="row image-titre">
    <img [src]="meal.strMealThumb" class="recipe-img-top" alt="Image de la recette : {{meal.strMeal}}">
    <div class="titre">
      <h2>{{meal.strMeal}}</h2>
    </div>
  </div>

  <div class="content">
    <div class="content-left order-md-first">
      <div class="country">
        <img *ngIf="meal.strArea === 'American'" src="../../assets/American.png" alt="American Food">
        <img *ngIf="meal.strArea === 'British'" src="../../assets/British.png" alt="British Food">
        <img *ngIf="meal.strArea === 'Canadian'" src="../../assets/Canadian.png" alt="Canadian Food">
        <img *ngIf="meal.strArea === 'Chinese'" src="../../assets/Chinese.png" alt="Chinese Food">
        <img *ngIf="meal.strArea === 'Croatian'" src="../../assets/Croatian.png" alt="Croatian Food">
        <img *ngIf="meal.strArea === 'Dutch'" src="../../assets/Dutch.png" alt="Dutch Food">
        <img *ngIf="meal.strArea === 'Egyptian'" src="../../assets/Egyptian.png" alt="Egyptian Food">
        <img *ngIf="meal.strArea === 'Filipino'" src="../../assets/Filipino.png" alt="Filipino Food">
        <img *ngIf="meal.strArea === 'French'" src="../../assets/French.png" alt="French Food">
        <img *ngIf="meal.strArea === 'Greek'" src="../../assets/Greek.png" alt="Greek Food">
        <img *ngIf="meal.strArea === 'Indian'" src="../../assets/Indian.png" alt="Indian Food">
        <img *ngIf="meal.strArea === 'Irish'" src="../../assets/Irish.png" alt="Irish Food">
        <img *ngIf="meal.strArea === 'Italian'" src="../../assets/Italian.png" alt="Italian Food">
        <img *ngIf="meal.strArea === 'Jamaican'" src="../../assets/Jamaican.png" alt="Jamaican Food">
        <img *ngIf="meal.strArea === 'Japanese'" src="../../assets/Japanese.png" alt="Japanese Food">
        <img *ngIf="meal.strArea === 'Kenyan'" src="../../assets/Kenyan.png" alt="Kenyan Food">
        <img *ngIf="meal.strArea === 'Malaysian'" src="../../assets/Malaysian.png" alt="Malaysian Food">
        <img *ngIf="meal.strArea === 'Mexican'" src="../../assets/Mexican.png" alt="Mexican Food">
        <img *ngIf="meal.strArea === 'Moroccan'" src="../../assets/Moroccan.png" alt="Moroccan Food">
        <img *ngIf="meal.strArea === 'Polish'" src="../../assets/Polish.png" alt="Polish Food">
        <img *ngIf="meal.strArea === 'Portuguese'" src="../../assets/Portuguese.png" alt="Portuguese Food">
        <img *ngIf="meal.strArea === 'Russian'" src="../../assets/Russian.png" alt="Russian Food">
        <img *ngIf="meal.strArea === 'Spanish'" src="../../assets/Spanish.png" alt="Spanish Food">
        <img *ngIf="meal.strArea === 'Thai'" src="../../assets/Thai.png" alt="Thai Food">
        <img *ngIf="meal.strArea === 'Tunisian'" src="../../assets/Tunisian.png" alt="Tunisian Food">
        <img *ngIf="meal.strArea === 'Turkish'" src="../../assets/Turkish.png" alt="Turkish Food">
        <img *ngIf="meal.strArea === 'Vietnamese'" src="../../assets/Vietnamese.png" alt="Vietnamese Food">
        <img *ngIf="meal.strArea === 'Unknown'" src="../../assets/Unknown.png" alt="Unknown Food">
        <h4 class="origin-country">{{meal.strArea}} Food</h4>
      </div>

      <div class="ingredient">
        <ul>
          <li *ngFor="let ingredient of ingredientsMeasures; let i = index">
            {{ingredient.name}} : {{ingredient.measure}}
          </li>
        </ul>
      </div>

      <div class="video">
        <iframe width="300" height="200" [src]="convertToEmbedLink(meal.strYoutube)" title="Chicken Teriyaki Casserole"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen loading="eager"></iframe>
      </div>
    </div>

    <div class="content-right">
      <h3>Preparation:</h3>
      <div class="instructions" id="instructions-container" #instructionsContainer>
        <span>{{meal.strInstructions}}</span>
      </div>
    </div>
  </div>
</div>

<section class="container cardsRandomListHome">
  <h2 class="text-center custom-heading">
    If you like this recipe, you'll also love these :
  </h2>
  <div class="row row-cols-1 row-cols-md-3 g-4 lead">
    <div class="col" *ngFor="let recipe of recipesRandom"  (click)="getRecipeById(recipe.idMeal)">
      <div class="card h-100">
        <img [src]="recipe.strMealThumb" class="card-img-top" [alt]="recipe.strMeal">
        <div class="card-body">
          <p class="text-center"> {{recipe.strMeal}}</p>
          <div class="col d-flex justify-content-center">
            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exemple"> Let's cook!</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>