<div class="container">
    <div class="row image-titre">
        <img [src]="meal.strMealThumb" class="recipe-img-top" alt="Image de la recette : {{meal.strMeal}}">
        <div class="titre">
            <h2>{{meal.strMeal}}</h2>
        </div>
    </div>

    <div class="content">
        <div class="content-left">
            <div class="country">
                <h4 class="country">{{meal.strArea}} Food</h4>
            </div>

            <div class="ingredient">
                <ul>
                    <li *ngFor="let ingredient of ingredientsMeasures; let i = index">
                        {{ingredient.name}} : {{ingredient.measure}}
                    </li>
                </ul>
            </div>

            <div class="video">
                <iframe width="300" height="200" src="https://www.youtube.com/embed/1IszT_guI08"
                    title="Chicken Teriyaki Casserole" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
                <!-- Hello {{convertToEmbedLink(meal.strYoutube)}} -->
            </div>
        </div>

        <div class="content-right">
            <div class="right-content">
                <h3>Preparation:</h3>
                <div class="instructions" id="instructions-container" #instructionsContainer>
                    <span>{{meal.strInstructions}}</span>
                </div>
            </div>
        </div>
    </div>
</div>