<!-- Component carousel -->
<app-carousel></app-carousel>
<!-- End component carousel -->

<!-- Debut component "Cards" pour afficher au moins 6 catégries aléatoirement -->
<section class="container">
  <h2 class="text-center my-5 lead">
    One day, one recipe ! Discover a new economical, easy and quick cooking recipe every day
  </h2>

  <div class="row lead">
    <div class="col-lg" *ngFor="let recipes of recipesRandom">
      <div class="card">
        <img [src]="recipes.strMealThumb" class="card-img-top" [alt]="recipes.strMeal">
        <div class="card-body">
          <h5 class="card-title">Id : {{recipes.idMeal}}</h5>
          <p class="card-text">Title : {{recipes.strMeal}}</p>
          <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exemple">See more !</button>
        </div>
      </div>
    </div>