.btn {
    height: auto;
    width: auto;
}


h3 {
    margin: 1em;
    font-size: 48px;
    font-family: Tahoma, Gotham, sans-serif;

}


.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: center;
    align-items: center;
}


.input-container {
    display: flex;
    position: relative;
    grid-area: 1 / 1 / 2 / 2;
}


.error-message {
    display: flex;
    flex-direction: column;
    grid-area: 2 / 1 / 3 / 2;
    margin-top: 10px;
    font-size: 14px;
    color: orangered;
    padding-left: 3px;
}

button {
    margin: 10px;
}


.select-with-icons {
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 14px;
    line-height: 1.5;
    width: 200px;
  }

  .flag-icon {
height: 10 px;
width: 10px;

  }
  
  .select-with-icons option {
    padding-left: 24px;
    background-repeat: no-repeat;
    background-position: 4px 50%;
  }