<div>
  <h3 class="text-center my-4 lead">Recipes from all over the world just for you! </h3>
  <div class="container lead">
    <label for="country-choice" class="form-label"></label>

    <div class="input-container">


      <!-- <input class="form-control" list="countries" id="country-choice" name="country-choice" [(ngModel)]="choice"
        placeholder="Type a country name..." style="width: 300px;" required> -->

      <div class="d-flex justify-content-between">
        <div class="me-3">
          <select [(ngModel)]="choice" class="select-with-icons" required>
            <option *ngFor="let area of nationalityList" [value]="area.strArea">
              {{ getFlag(area.strArea) }} {{ area.strArea }}
            </option>
          </select>
        </div>

        <div>
          <button class="btn btn-success mb-2" data-bs-toggle="modal" data-bs-target="#exemple"
            (click)="goTORecepiesByCountry(choice)">Let's go!</button>
        </div>
      </div>


      <p *ngIf="showErrorMessage" class="error-message">Please select a country</p>


    </div>
  </div>