h3 {
    margin: 40px;
    font-size: 30px;
    font-family: Tahoma, Gotham, sans-serif;

}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.input-container {
    display: flex;
    position: relative;
    grid-area: 1 / 1 / 2 / 2;
}


.error-message {
    display: flex;
    flex-direction: column;
    grid-area: 2 / 1 / 3 / 2;
    margin-top: 10px;
    font-size: 14px;
    color: orangered;
    margin-right: 150px;
}



.select {
    margin-right: 20px;
    height: 38.21px;
}

.select-with-icons {
    width: 250px;
    height: 38.21px;
}