<div>
  <h3 class="text-center my-4 lead">Recipes from all over the world just for you! </h3>
  <div class="container lead">
    <label for="country-choice" class="form-label"></label>

    <input class="form-control" list="countries" id="country-choice" name="country-choice" [(ngModel)]="choice"
      placeholder="Type a country name..." style="width: 300px;">
    <datalist id="countries">
      <option *ngFor="let area of nationalityList" [value]="area.strArea">
    </datalist>

    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exemple"
      (click)="goTORecepiesByCountry(choice)"> Search </button>
  </div>
</div>